# Environment
NODE_ENV=development

# Ports
PORT=3000
IS_CONTAINER=false


# Client Port & URL (for development)
__DEV__CLIENT_PORT=5173 # Only used in development
CLIENT_URL=http://localhost:5173 # Only used in development

CLIENT_OPENAI_KEY=

# Artboard Port & URL (for development)
__DEV__ARTBOARD_PORT=6173 # Only used in development
ARTBOARD_URL=http://localhost:6173 # Only used in development

# URLs
# These URLs must reference a publicly accessible domain or IP address, not a docker container ID (depending on your compose setup)
PUBLIC_URL=http://localhost:3000

# Firebase credentials
TYPE=
PROJECT_ID=
PRIVATE_KEY_ID=
PRIVATE_KEY=
CLIENT_EMAIL=
CLIENT_ID=
AUTH_URI=
TOKEN_URI=
AUTH_CERT_URL=
CLIENT_CERT_URL=
UNIVERSAL_DOMAIN=
STORAGE_BUCKET=

# Authentication Secrets
# generated with `openssl rand -base64 64`
ACCESS_TOKEN_SECRET=access_token_secret
REFRESH_TOKEN_SECRET=refresh_token_secret

# Chrome Browser (for printing)
# generated with `openssl rand -hex 32`
CHROME_PORT=8080
CHROME_TOKEN=chrome_token
CHROME_URL=ws://localhost:8080

# Mail Server (for e-mails)
# For testing, you can use https://ethereal.email/create
MAIL_FROM=noreply@localhost
SMTP_SERVER=
SMTP_PORT=
SMTP_USER=
SMTP_KEY=

# Redis (for cache & server session management)
REDIS_PASSWORD=password
REDIS_URL=redis://:password@localhost:6379
REDIS_URL_CONTAINER=redis://:password@redis:6379

# Sentry (for error reporting, Optional)
# VITE_SENTRY_DSN=

# Crowdin (Optional)
CROWDIN_PROJECT_ID=
CROWDIN_PERSONAL_TOKEN=

# Email (Optional)
# DISABLE_EMAIL_AUTH=true
# VITE_DISABLE_SIGNUPS=false

# GitHub (OAuth, Optional)
# GITHUB_CLIENT_ID=
# GITHUB_CLIENT_SECRET=
# GITHUB_CALLBACK_URL=http://localhost:5173/api/auth/github/callback

# Google (OAuth, Optional)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:5173/api/auth/google/callback

# Stipe credentials
STRIPE_API_KEY=
CLIENT_STRIPE_CUSTOMER_PORTAL_URL=
STRIPE_CREATE_SUCCESS_URL=
STRIPE_WEBHOOK_SECRET=

# fly.io
FLY_API_TOKEN=